@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Montserrat&family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Josefin+Sans:wght@200&family=Montserrat&family=Rowdies&display=swap');

* {
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* navigation bar styles */

#ul {
    position: fixed;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 60px;
    list-style-type: none;
    background-color: black;
    z-index: 3;

}

.li {
    margin: auto;
}

.liLogo {
    margin-left: 20px;
}

#A {
    font-family: "East Sea Dokdo", "cursive";
    text-decoration: none;
    list-style-type: none;
    font-size: 30px;
    color: #B0B3B8;
    overflow: hidden;
}

#a {
    font-family: "East Sea Dokdo", "cursive";
    text-decoration: none;
    list-style-type: none;
    font-size: 30px;
    overflow: hidden;
    display: grid;
    text-decoration: none;
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    color: #DDA11D;

}

/* background Image style */

.backgroundImg {
    position: fixed;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 45px;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: -10;

}

/* first header and button style */

#firstHeader {
    position: absolute;
    top: 40%;
    left: 5%;
    font-family: "East Sea Dokdo", "cursive";
    font-size: 78px;
    margin: 0px 0px 20px 0px;
    color: #413300;
    z-index: 1;
}

#headerBtn {
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 1000;
    width: 170px;
    height: 35px;
    top: 55%;
    left: 5%;
    font-size: 16px;
    text-transform: uppercase;
    border: 2px solid #8C612F;
    color: #8C612F;
    cursor: pointer;
    overflow: hidden;
}

#headerBtn:hover {
    background-color: #FFEBCD;
}

/* grid container styles */

#container {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 650px;
    grid-gap: 20px;
    background-color: black;
    color: #ffffff;

}

#productImg {
    max-width: 250px;
    height: 310px;
    width: 100%;
    object-fit: cover;
    padding: 10px;
}

#productImg2,
#productImg3,
#productImg4,
#productImg5 {
    max-width: 250px;
    height: 310px;
    width: 100%;
    object-fit: cover;
    padding: 10px;
}

#headerTwo {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    font-size: 44px;
    margin: 40px;

}

.headerPara {
    grid-column: 1/4;
    text-align: center;
}


.biliefButtons {
    display: grid;
    grid-column: 1/4;
    grid-template-columns: repeat(4, 200px);
    justify-content: center;
    grid-gap: 2em;
}

#ideaA {
    font-family: "Josefin Sans", sans-serif;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: black;
}

#btn {
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    height: 135px;
    width: 135px;
    border-radius: 50%;
    transition: ease-in-out 0.5s;
    margin: auto;
    cursor: pointer;
}

#btn:hover {
    transform: rotate(360deg);
}

.image {
    grid-column: 1/2;
    grid-row: 3;
    margin-left: 40px;
}

.gloDescription {
    text-align: right !important;
    grid-column: 3;
    grid-row: 3;
    margin-right: 40px;
    margin-top: 40px;



}

.gloDescription h2 {
    margin-bottom: 20px;
}

.gloDescription p {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    line-height: 35px;
}

.gloTitle {
    margin-bottom: 20px;
}

.btn {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: black;
    border: 1px solid white;
    cursor: pointer;
    width: 220px;
    height: 35px;
    margin-top: 20px;
    color: white;
}

.btn:hover {
    background-color: #a0a0a033;
}

.secondImg {
    grid-column: 3;
    grid-row: 4;
    margin-right: 40px;


}

.natureDescription {
    grid-column: 1;
    grid-row: 4;
    text-align: left !important;
    margin-left: 40px;
    margin-top: 40px;
}


.natureDescription h1 {
    margin-bottom: 20px;
}

.natureDescription p {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    line-height: 35px;

}

#productHeader {
    grid-column: 1/4;
    grid-row: 5;
    text-align: center;
    font-size: 34px;
    font-weight: 800;
    color: white;
    margin: 40px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 6;
    grid-column: 1/4;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    align-items: center;
    grid-gap: 0em;
}


#secondA {
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    font-size: 22px;
    font-weight: 800;
    color: #ffffff;

}

#priceA {
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    font-size: 22px;
    font-weight: 400;
    color: #ffffff;

}

.productNames {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1/4;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    grid-row: 7;
}

.productPrices {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1/4;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    grid-row: 8;
}

#instagramHeader {
    margin-top: 80px;
    margin-bottom: 20px;
    grid-column: 1/4;
    grid-row: 9;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

#instaLink {
    grid-column: 1/4;
    grid-row: 10;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 50px;
    color: white;
}

#instaIcon {
    width: 25px;
    margin-bottom: 0;
}

/* auto infinite image slider styles */

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    overflow: hidden;
    grid-row: 11;
    grid-column: 1/4;
}


.slide-track {
    display: flex;
    width: calc(250px * 30);
    animation: scroll 30s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px*15));
    }
}

.slide {
    display: flex;
    align-items: center;
    perspective: 100px;
}

#sliderImg {
    height: 210px;
    width: 100%;
    transition: transform 1s;
}

#sliderImg:hover {
    opacity: 0.4;

}

/* video style */

.exploreHeader {
    grid-column: 1/4;
    grid-row: 12;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    margin: 50px;
}

.lorem {
    grid-template-columns: repeat(3, 1fr);
    grid-row: 13;
    grid-column: 1/4;
    margin: 0 40px 40px 40px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 35px;
 


}

.TimberTribeLogo {
    display: grid;
    grid-column: 1/4;
    grid-row: 14;
}

#secondLogo {
    font-family: "East Sea Dokdo", "cursive";
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    font-size: 30px;
    overflow: hidden;
    text-decoration: none;
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    color: white;
}


/* footer styles  */



#body {
    display: grid;
    justify-content: end;
    align-content: end;
    grid-column: 1/4;
    grid-row: 16;
    color: green;
}

footer {
    padding: 30px 100px;
    background: black;
}

footer .container2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

footer .container2 .sec h2 {
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;

}

footer .container2 .sec h2::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #ffeb3b;

}

footer .container2 .sec p {
    color: #fff;
    grid-column: 1/4;
}

.sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 10px;

}

.sci li {
    list-style-type: none;

}

.sci li a {
    display: inline-block;
    width: 48px;
    height: 48px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
    color: white;
    font-size: 26px;
    grid-column: 1/4;

}

.sci li a:hover {
    background: #FFE3F1;
    color: black;
    border-radius: 30%;
}

.sci li a .fa {
    color: #fff;
    font-size: 20px;
}

.QuickLinks {
    position: relative;
}

.QuickLinks li {
    list-style: none;
}

.QuickLinks li a {
    color: #f7f7f7;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;

}


.QuickLinks li a:hover {
    color: #ffeb3b;
}

.info {
    position: relative;
}

.info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}


.info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
}

.info li span {
    color: #fff;

}

.info a {
    color: #f7f7f7;
    text-decoration: none;
}

.info a:hover {
    color: #ffeb3b;
}

.copyrightText {
    font-size: 20px;
    background: black;
    color: white;
    padding: 8px 100px;
    grid-row: 17;
    grid-column: 1/4;
    text-align: center;
}

/* popUp styles */

.popup{
    background-color: #413300;
    width: 550px;
    padding: 30px 40px;
    top: 200px;
    z-index: 2;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    display: none;
    text-align: center;
    color: white;
}

.popup p{
    font-size: 18px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
    color: white;
}
#close{
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #2E3D13;
    border-radius: 8px;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
}


/* responsive styles */

@media (max-width: 991px) {

    .popup{
   
        width: 400px;
        padding: 30px 40px;
        top: 220px;
    
    }
    #ul {
        grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
        
    }
    #firstHeader {
        top: 30%;
        left: 5%;
    }
    
    #headerBtn {
        top: 45%;
        left: 5%;
     
    }

    

    .biliefButtons {
        display: grid;
        grid-column: 1/4;
        grid-template-columns: repeat(3, 200px);
        justify-content: center;
        grid-gap: 2em;

    }

    .products {
        grid-template-columns: repeat(2, 1fr);
        grid-row: 6;
        margin: auto;
        grid-gap: 70px;
    
    }    

    #body .container2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column: 2;
        margin: auto;
    }



}


@media (max-width: 768px) {


    #firstHeader {
        top: 30%;
        left: 5%;
    }
    
    #headerBtn {
        top: 40%;
        left: 5%;
     
    }
    .biliefButtons {
        display: grid;
        grid-column: 1/3;
        grid-template-columns: repeat(2, 200px);
        justify-content: center;
        grid-gap: 2em;

    }


    #body .container2 {
        grid-template-columns: repeat(1, 1fr);

    }

}

@media (max-width: 401px) {
    .biliefButtons {
        display: grid;
        grid-column: 1/4;
        grid-template-columns: repeat(1, 200px);
        justify-content: center;
        grid-gap: 2em;

    }

    #body .container2 {
        grid-template-columns: repeat(1, 1fr);

    }

}